body {
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/9771.jpg);
    background-repeat: no-repeat;
    background-size:2000px 950px;
}

.Reg{
    border:solid black 2px;
    margin-bottom:15px;
    width:400px;
    height:673px;
    padding-right:50px;
    padding-left:50px;
    margin-right:470px;
    margin-left:570px;
    margin-top:25px;


}
.title{
    
      text-align:center;
      padding-bottom:3px;

}
.Submit{
    width:200px;
   margin-left:100px;
   height:30px;
   margin-bottom:30px;
}

